<section class="about">
<h2>Lurk Central: Your Personalized All-In-One Social Media Feed...</h2>
<h2>But You Don't Need Accounts On Any Social Media Platforms!</h2>
<h4>How it Works</h4>
<p>Create an account on Lurk Central (no emails, promise!)</p>
<p>Go to add profile to make a new profile for every person you wish to keep up with</p>
<p>Enter the Twitter, Facebook, and/or Instagram user handle to complete a person's profile</p>
<p>That's it! Enjoy lurking all the public social media accounts of a person, together at one place!</p>
</section>