<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lurk Central</title>
    <script defer src="https://platform.twitter.com/widgets.js"></script>
    <!-- <script defer src="/script.js"></script> -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 style="text-align: center">UNDER ACTIVE DEVELOPEMENT</h1>
    <% if (locals.user) { %>
     <%- include("../partials/header") %> 
    <% } %>
    <%- body %> 
</body>
</html>