<h2>Profiles that you Lurk</h2>
<% if(profiles) { %>
    <section class="profiles-grid">
        <% profiles.forEach(profile => { %>
            <a class="profile" href="/profiles/<%= profile.id %>"><%= profile.name %></a>
        <% }) %> 
    </section>
<% } %>

<div> <a href="/profiles/new">Add Profile ➕</a> </div>