<h2>Profiles that you Lurk</h2>
<% if(profiles) profiles.forEach(profile => { %>
    <div> <a class="profile" href="/profiles/<%= profile.id %>"><%= profile.name %></a> </div>
<% }) %> 

<div> <a href="/profiles/new">Add Profile ➕</a> </div>