<script>
    const userId = "<%= user.id %>"
</script>
<script src="/scripts/validateProfileForm.js" type="module"></script>
<h2>Create Profile</h2>
<form id="add-person" class="centered-form" action="/profiles" data-method="POST">
    <%- include("../partials/profileForm", { profile: profile }) %>
<button class="custom-button centered imp" type="submit">Create Profile ➕</button>
</form>
<a class="custom-button centered" href="/profiles">Cancel ❌</a>
<%- include("../partials/socialMediaFeed", { hidden : true }) %>  