<h2>👋 Welcome, <%= user.name %>!</h2>

<section class="dashboard-buttons">
    <% if(profiles) { %>
     <div> <a href="/profiles">List of all your Profiles 👤</a> </div>
    <% } %> 
    
     <div> <a href="/profiles/new">Add Profile ➕</a> </div>
</section>
