<h2>Login</h2>
<% if (messages.error) { %>
 <%= messages.error %> 
<% } %>
<form class="centered-form" action="/login" method="POST">
    <label>Email <input type="email" name="email"></label>
    <label>Password <input type="password" name="password"></label>
    <button class="custom-button centered imp" type="submit">Login</button>
</form>
<a class="custom-button centered" href="/signup">Sign Up Instead</a>
<%- include("./partials/about") %>  