<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <label>User name (only visible to you) <input type="text" name="name" required></label>
    <label>Email <input type="email" name="email" required></label>
    <label>Password <input type="password" name="password" required></label>
    <button type="submit">Sign Up</button>
</form>
<a href="/login">Login</a>
<%- include("./partials/about") %>  