*, *::after, *::before {
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    background-color: red;
    font-family: 'Chakra Petch', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0 1rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 1.25rem 0;
    margin: 0;
}

h2 {
    text-align: center;
}

header {
    margin: 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.dashboard-buttons {
    display: flex;
    min-height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

header a, .dashboard-buttons a {
    position: relative;
    color: white;
}

header a::after, .dashboard-buttons a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    right: 50%;
    height: 3px;
    background-color: #fff;
    transition: all 300ms ease-in-out;
}

header a:hover::after, .dashboard-buttons a:hover::after {
    left: 0;
    right: 0;
}

.profiles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 20vh;
    gap: 15px 15px;
    padding: 15px;
}

.profile {
    /* outline: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    /* background-color: blue; */
    border-radius: 1rem;
    box-shadow: black 2px 2px 5px 5px;
    transition: all 300ms ease-in-out;
    transition-property: color, box-shadow;
}

.profile:hover {
    color: white;
    box-shadow: black 5px 5px 5px 5px;
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
}

.custom-button {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: black 2px 2px 3px 3px;
    transition: color 300ms ease-in-out;
}

.custom-button:hover {
    color:red;
}

#account-list {
    padding: 0;
}

.account {
    list-style: none;
}

.user-handle-input {
    display: none;
}

.account [type="checkbox"]:checked ~ .user-handle-input {
    display: block;
}

.social-media-display-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-media-display {
    width: 320px;
    height: 610px;
    overflow-y: auto;
    margin: 2rem auto;
    background-color: white;
}

.social-media-display > * {
    margin: 0 auto;
    display: block;
}

.instagram-stuff .bio {
    text-align: center;
    font-weight: bold;
}

.instagram-stuff .bio-link {
    display: block;
    font-weight: normal;
    color: blue;
}